@{
  Layout = "_Layout"; 
}

@model ToDoList.Models.Item

<h3>Item details</h3>

<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<p>Item's ID : @Html.DisplayFor(model => model.ItemId)</p>
<p>@Html.ActionLink("Back to list", "Index")</p>

<p>@Html.ActionLink($"Edit this item", "Edit", new {id=Model.ItemId})</p>

<p>@Html.ActionLink("Delete this item", "Delete", new {id=Model.ItemId})</p>
