
@{
  Layout = "_Layout"; 
}

@model ToDoList.Models.Item

<h3>Item details</h3>

<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This item does not belong to any categories</p>
}
else
{
  <h4>Categories the item belongs to:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Category.Name</li>
      @using (Html.BeginForm("DeleteCategory", "Items"))
      {
        @Html.Hidden("joinId", @join.CategoryItemId)
        <input type ="submit" value="remove category"/>
      }<br>
    }
  </ul>
}

<p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.ItemId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>

<p>@Html.ActionLink($"Edit this item", "Edit", new {id=Model.ItemId})</p>

<p>@Html.ActionLink("Delete this item", "Delete", new {id=Model.ItemId})</p>

