
@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h3>Edit Below </h3>

@* <p>Edit this task: @Html.DisplayFor(model => model.Description)</p> *@

<p>Edit this task: @Model.Description</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Never mind", "Index")</p>
 