@*
@{ 
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h3>Category details</h3>
<p>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</p>
<p>Category's ID : @Html.DisplayFor(model => model.CategoryId)</p>




<p>@Html.ActionLink("Back to Category list", "Index")</p>

@* <p>@Html.ActionLink($"Edit this item", "Edit", new {id=Model.CategoryId})</p> *@

@* <p>@Html.ActionLink("Delete this item", "Delete", new {id=Model.CategoryId})</p> *@
*@